.detail{
    display: flex;
    justify-content: center;
}
.containerDetail{
    color: rgb(255, 255, 255);
    text-align: center;
    width: 500px;
    border: solid 1px green;
    padding: 20px 0;
    margin-top: 40PX;

}
.containerDetail img{
    border-radius: 20px;
}
.containerDetail h2{
    line-height: 80%;
}
.containerDetail p{
    text-justify: auto;
}
.containerDetail .btnDetail{
    background-color: black;
    color: rgb(4, 221, 4);
    border-radius: 10px;
    border: solid .5px green;
    padding: 2px 6px;
    font-weight: bold;
}
@media screen and (max-width: 725px) {
    .containerDetail{
        width: 300px;
    }
    .containerDetail img{
        width: 200px;
    }
    .containerDetail h2{
        line-height: 120%;
    }
}